<!-- bookapp/templates/checkout_and_checkin.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Check In/Out</title>
</head>
<body>
    <h2>Check Out</h2>
    <form method="post" style="margin-bottom: 30px;">
        {% csrf_token %}
        {{ checkout_form.as_p }}
        <button type="submit" name="checkout_submit">Check Out</button>
    </form>

    <h2>Check In</h2>
    <form method="post" style="margin-bottom: 10px;">
        {% csrf_token %}
        {{ checkin_form.student_id.label_tag }} {{ checkin_form.student_id }}
        <button type="submit" name="search_student">Search</button>
    </form>
    {% if checkin_form.fields.book.queryset %}
    <form method="post">
        {% csrf_token %}
        {{ checkin_form.as_p }}
        <button type="submit" name="checkin_submit">Check In</button>
    </form>
    {% endif %}
</body>
</html>
